// 青色主题
:root {
  --el-color-primary: #00bcd4;
  --el-color-primary-light-3: #33c9dd;
  --el-color-primary-light-5: #66d7e6;
  --el-color-primary-light-7: #99e4ef;
  --el-color-primary-light-8: #b3ecf5;
  --el-color-primary-light-9: #ccf3f9;
  --el-color-primary-dark-2: #0096a9;
}
