// 海蓝主题
:root {
  --el-color-primary: #2f54eb;
  --el-color-primary-light-3: #5976ef;
  --el-color-primary-light-5: #8398f3;
  --el-color-primary-light-7: #adbaf7;
  --el-color-primary-light-8: #c6cef9;
  --el-color-primary-light-9: #d6dcfb;
  --el-color-primary-dark-2: #2543bc;
}
