// 祖母绿主题
:root {
  --el-color-primary: #13a67b;
  --el-color-primary-light-3: #42b895;
  --el-color-primary-light-5: #71caaf;
  --el-color-primary-light-7: #a0dcc9;
  --el-color-primary-light-8: #bae8d9;
  --el-color-primary-light-9: #d5f3e9;
  --el-color-primary-dark-2: #0f8562;
}
