// 墨蓝主题
:root {
  --el-color-primary: #1d39c4;
  --el-color-primary-light-3: #4a61d0;
  --el-color-primary-light-5: #7789dc;
  --el-color-primary-light-7: #a4b1e8;
  --el-color-primary-light-8: #c3caf0;
  --el-color-primary-light-9: #e1e5f8;
  --el-color-primary-dark-2: #172e9d;
}
