// 浅绿主题
:root {
  --el-color-primary: #52c41a;
  --el-color-primary-light-3: #74d048;
  --el-color-primary-light-5: #96dc76;
  --el-color-primary-light-7: #b8e8a4;
  --el-color-primary-light-8: #cff0c3;
  --el-color-primary-light-9: #e6f7e2;
  --el-color-primary-dark-2: #429d15;
}
