// 淡蓝主题
:root {
  --el-color-primary: #1890ff;
  --el-color-primary-light-3: #46a6ff;
  --el-color-primary-light-5: #74bcff;
  --el-color-primary-light-7: #a2d2ff;
  --el-color-primary-light-8: #c1e1ff;
  --el-color-primary-light-9: #e0f0ff;
  --el-color-primary-dark-2: #1373cc;
}
