// 活力橙主题
:root {
  --el-color-primary: #fa8c16;
  --el-color-primary-light-3: #fba345;
  --el-color-primary-light-5: #fcba74;
  --el-color-primary-light-7: #fdd1a3;
  --el-color-primary-light-8: #fee0be;
  --el-color-primary-light-9: #feefd9;
  --el-color-primary-dark-2: #c87012;
}
