// 浪漫粉主题
:root {
  --el-color-primary: #eb2f96;
  --el-color-primary-light-3: #ef59ab;
  --el-color-primary-light-5: #f383c0;
  --el-color-primary-light-7: #f7add5;
  --el-color-primary-light-8: #fac6e3;
  --el-color-primary-light-9: #fcdff1;
  --el-color-primary-dark-2: #bc2678;
}
