// 现代紫主题
:root {
  --el-color-primary: #7c4dff;
  --el-color-primary-light-3: #9671ff;
  --el-color-primary-light-5: #b195ff;
  --el-color-primary-light-7: #cbb9ff;
  --el-color-primary-light-8: #ddcdff;
  --el-color-primary-light-9: #e6dcff;
  --el-color-primary-dark-2: #633ecc;
}
