// 深红主题
:root {
  --el-color-primary: #cf1322;
  --el-color-primary-light-3: #d9424e;
  --el-color-primary-light-5: #e3717a;
  --el-color-primary-light-7: #eda0a6;
  --el-color-primary-light-8: #f3bdc1;
  --el-color-primary-light-9: #f9d9dc;
  --el-color-primary-dark-2: #a60f1b;
}
