// 天空蓝主题
:root {
  --el-color-primary: #3a8dff;
  --el-color-primary-light-3: #6ba3ff;
  --el-color-primary-light-5: #8cb8ff;
  --el-color-primary-light-7: #adceff;
  --el-color-primary-light-8: #bee3ff;
  --el-color-primary-light-9: #cee9ff;
  --el-color-primary-dark-2: #2e71cc;
}
