// 青绿主题
:root {
  --el-color-primary: #0aa679;
  --el-color-primary-light-3: #3bb894;
  --el-color-primary-light-5: #6ccaaf;
  --el-color-primary-light-7: #9ddcca;
  --el-color-primary-light-8: #b8e6da;
  --el-color-primary-light-9: #d3f0ea;
  --el-color-primary-dark-2: #088561;
}
