// 科技银主题
:root {
  --el-color-primary: #8c8c8c;
  --el-color-primary-light-3: #a3a3a3;
  --el-color-primary-light-5: #bababa;
  --el-color-primary-light-7: #d1d1d1;
  --el-color-primary-light-8: #e0e0e0;
  --el-color-primary-light-9: #efefef;
  --el-color-primary-dark-2: #707070;
}
